/* @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@1,300&display=swap'); */

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * loos-wide:
 *   - http://typekit.com/eulas/00000000000000007735e7d3
 *   - http://typekit.com/eulas/00000000000000007735e7e6
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */

/*{"last_published":"2021-10-05 23:26:12 UTC"}*/

/* @import url("https://p.typekit.net/p.css?s=1&k=dqd6yfe&ht=tk&f=47021.47022&a=5709972&app=typekit&e=css"); */
/* @font-face {
	font-family: "loos-wide";
	src: url("https://use.typekit.net/af/92b869/00000000000000007735e7d3/30/l?subset_id=2&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/92b869/00000000000000007735e7d3/30/d?subset_id=2&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/92b869/00000000000000007735e7d3/30/a?subset_id=2&fvd=n5&v=3") format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 500;
} */

/* @font-face {
	font-family: "loos-wide";
	src: url("https://use.typekit.net/af/18ce07/00000000000000007735e7e6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/18ce07/00000000000000007735e7e6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/18ce07/00000000000000007735e7e6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
	font-display: auto;
	font-style: normal;
	font-weight: 400;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.header-font {
	font-family: 'Loos-wide';
	font-weight: 50;
}

.paragraph-font {
	font-family: 'Azeret Mono', monospace;
}